.gpt3__footer {
    background: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gpt3__footer-heading {
    width: 100%;
    margin: auto 0;
    text-align: center;
    margin-bottom: 3rem;
}

.gpt3__footer-heading {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: calc(75 / 64);
}

.gpt3__footer-btn {
    border: 1px solid #fff;
    padding: 20px;
    margin-bottom: 200px;
    cursor: pointer;
}

.gpt3__footer-btn p {
    color: #fff;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    word-spacing: 2px;
}

.gpt3__footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
}

.gpt3__footer-links div {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;
}

.gpt3__footer-links_logo {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gpt3__footer-links_logo img {
    width: 118px;
    height: 30px;

    margin-bottom: 1rem;
}

.gpt3__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.gpt3__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.gpt3__footer-links_div h4 {
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.gpt3__footer-links_div p {
    font-size: 12px;
    line-height: 20px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.gpt3__footer-links-item {
    display: flex;
    flex: 1;
}

/* .gpt3__footer-links_logo {
    display: flex;
    flex: 0.75;
}

.gpt3__footer-links_div {
    display: flex;
    flex: 1;
} */
