.gpt3__footer {
    background: var(--color-footer);
    display: flex;
    flex-direction: column;
}

.gpt3__footer-heading {
    text-align: center;
    font-weight: 800;
    font-family: var(--font-family);
}
