.gpt3__footer {
    background: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gpt3__footer-heading {
    width: 100%;
    text-align: center;
}
